<html>
	<head>
		<meta charset="utf-8">
		<title>Control</title>
		<link rel="stylesheet" href="style.css">
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">

	</head>

	<body>

		<ul id="devices">
			<li>
				<p>Stand Light</p>
				<a class="on" href="/standOn">ON</a><a class="timer" href="/timer/standOn">T</a>
				<a class="off" href="/standOff">OFF</a><a class="timer" href="/timer/standOff">T</a>
			</li>
			<li>
				<p>Room Light</p>
				<a class="on" href="/roomOn">ON</a><a class="timer" href="/timer/roomOn">T</a>
				<a class="off" href="/roomOff">OFF</a><a class="timer" href="/timer/roomOff">T</a>
			</li>
			<li>
				<p>Humidifier</p>
				<a class="on" href="/humidOn">ON</a><a class="timer" href="/timer/humidOn">T</a>
				<a class="off" href="/humidOff">OFF</a><a class="timer" href="/timer/humidOff">T</a>
			</li>
		</ul>
	</body>

</hrml>