<html>
	<head>
		<meta charset="utf-8">
		<title>Timer - Control</title>
		<link rel="stylesheet" href="../style.css">
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
	</head>

	<body>
		<p class="title"><%= @action %> timer</p>
		<span class="container">
			<form method="post" class="form1" action="/timeset1/<%= @action %>">
				<span class="input1">at <input type="time" name="time"></span>
				<input class="button1 "type="submit" value="Set!">
			</form>
			<form method="post" class="form2" action="/timeset/<%= @action %>">
				<span class="input2">after<input type="tel" name="hour" value="7" required>hour<input type="tel" name="minit" value="0">minit</span>
				<input class="button2" type="submit" value="Set!">
			</form>
		</span>
	</body>
</hrml>